.teste a {
  color: #ffffff !important;
  background: #17aa80;
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.teste a:hover {
  background-color: #026d52;
}

/* .teste:hover {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.09);
  }
  100% {
    transform: scale(1);
  }
} */

.testebtt {
  text-decoration: none;
  background: #17aa80;
  color: #ffffff;
  padding: 20px 20px;
  border-radius: 50px;
  font-size: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6); /* Adiciona sombra nas bordas */
}

.testebtt:hover {
  background-color: #026d52;
}

.testebtt:hover {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  50% {
    transform: scale(1);
  }
}

.plataforma-info {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
}

.info {
  display: flex;
  flex: 1;
}

.inf {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  min-height: 1;
  align-items: start;
}

.fotoapp {
  flex: 1;
  display: flex;
  overflow: hidden;
  padding: 50px;
}

.imgapp {
  max-width: 100%;
  padding: 0px;
  box-sizing: border-box;
  margin-top: 20px;

  /* Adicione a animação de pulsação */
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.fotointegracao {
  width: 430px;
}

.titulo {
  font-size: 45px;
  color: rgb(0, 0, 0, 0.7);
}

.gc {
  font-family: Calibri, "Trebuchet MS", sans-serif;
  font-size: 100px;
  font-weight: 1000;
  margin: 0px;
  line-height: 30px;
  letter-spacing: -2px;
}

.tdescricao {
  font-size: 19px;
  line-height: 25px;
  margin-top: 35px;
}

.tgc {
  color: #026d52;
}

.tflow {
  color: #17aa80;
}

@media (max-width: 700px) {
  .titulo {
    font-size: 18px;
  }
  .gc {
    font-size: 60px;
  }
  .inf {
    padding: 0px 20px;
  }
  .tdescricao {
    font-size: 13px;
    margin: 0px;
    margin-top: 10px;
    line-height: 1.5;
  }
  .testebtt {
    font-size: 15px;
    padding: 10px 10px;
  }
  .fotointegracao {
    max-width: 200px;
  }

  .fotoapp {
    display: none;
  }
}
